/* utility-first*/
.grid {
  display: grid;

}

/*flow: mujda o fluxo do grid=> sai de uma linha abaixo da outra para se tornar colunas ao lado da outra*/
.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr; /*imagens agrupadas em quatro ficam em duas colunas*/
}

.gap-16 {
  gap: 16px;
}
